{% load static %}

<div id="sidebarOverlay" class="sidebar-overlay"></div>
<header class="site-header">
    <div class="container">
        <div class="header-content">
            <a href="/projects/list/" class="logo-link">TeamFinder</a>

            <nav class="main-nav">
                <a href="/projects/list/" class="nav-link">
                    {% include 'includes/svg/home.html' %}
                    <p>Проекты</p>
                </a>
                <a href="/users/list/" class="nav-link">
                    {% include 'includes/svg/participants.html' %}
                    <p>Команда</p>
                </a>
            </nav>

            <div class="user-actions">
                {% if request.user.is_authenticated %}
                <a href="{% url 'projects:create_project' %}" class="action-button nav-link">
                    + Новый проект
                </a>
                <a class="user-menu nav-link">
                    {% if request.user.avatar %}
                        <img src="{{ request.user.avatar.url }}" alt="Аватар пользователя" class="avatar">
                    {% else %}
                        <img src="{% static 'images/default-avatar.png' %}" alt="Аватар по умолчанию" class="avatar">
                    {% endif %}
                    <span class="username">{{ request.user.name }} {{ request.user.surname }}</span>
                </a>
                {% else %}
                <button class="button button-login nav-link" onclick="window.location.href='/users/login/'">
                    {% include 'includes/svg/login.html' %}
                    <p>Вход</p>
                </button>
                <button class="button button-register nav-link action-button" onclick="window.location.href='/users/register/'">
                    {% include 'includes/svg/register.html' %}
                    <p>Регистрация</p>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% if request.user.is_authenticated %}
<div id="userSidebar" class="user-sidebar">
  <div class="sidebar-content">

    <a href="{% url 'users:user_detail' request.user.id %}">
      <span>{% include 'includes/svg/profile.html' %} Личный кабинет</span>
    </a>

    <a href="{% url 'users:edit_profile' request.user.id %}">Настройки профиля</a>

    <a href="{% url 'users:change_password' request.user.id %}">Безопасность</a>

    <a href="#" class="share-button" data-url="/users/{{ request.user.id }}/">
      {% include 'includes/svg/share.html' %} Поделиться профилем
    </a>

    <hr class="sidebar-divider">

    <a href="{% url 'users:logout' %}" style="color: #e53e3e;">
      {% include 'includes/svg/leave.html' %} Выйти из аккаунта
    </a>
  </div>
</div>
{% endif %}
